
<% layout("/layouts/boilerplate") %>
   <div class="row">
      <div class="col-12">
         <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div>
               <h4 class="alert-heading">Error</h4>
               <p>
                  <%= err.message %>
               </p>
               <pre>Status Code: <%= err.statusCode %></pre>
            </div>
         </div>
      </div>
   </div>